@import 'variables';

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gutter;
}

.app-item {
  flex-shrink: 0;
}

.app-list-column-container {
  flex-direction: column;
}

.app-list-item {
  padding: $gutter-small;
}
