@import 'variables';

.app-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: $gutter;
}

.app-container-center {
  align-items: center;
  align-content: center;
}

.app-container-stretch {
  align-items: stretch;
  align-content: stretch;
}

.app-item {
  flex-shrink: 0;
}

.app-list-column-container {
  flex-direction: column;
}

.app-list-item {
  padding: $gutter-small;
}
